<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>TimeToAnswer5</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'TimeToAnswer', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="class="form-inline mt-2 mt-md-0"">
      <ul class="navbar-nav mr-auto">
        <% unless user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" <%= link_to 'Entrar', new_user_session_path %> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Cadastrar-se', new_user_registration_path %> </a>
        </li>
        <% else %>

          <%= form_with(url: site_search_path, local: true, method: :get, class:"form-inline") do |form| %>
          <div class="md-form my-0">
            <%= form.text_field :term, class: "form-control mr-sm-2", placeholder: "Search"%>
          </div>
          <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= current_user.email %>
          </a>
        
          <div class="dropdown-menu">
            <a class="dropdown-item" <%= link_to users_backoffice_welcome_index_path	do %>
            <i class="fa fa-user fa-fw"></i>Perfil
            </a>
            <% end %>
            <a class="dropdown-item" <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Sair
            </a>
            <% end %>
          </div>

        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <% unless params[:term] %>
        <h3>Últimas perguntas cadastradas...</h3>
    <% else %>
        <h3><%= "Resultados para \"#{params[:term]}\"..."%></h3>
    <% end %>
  </div>
  <%= yield %>
</main>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'site' %>

<% if notice %>
  <script>
    $.bootstrapGrowl("<%= notice %>", {
        type: 'success', // (null, 'info', 'danger', 'success')
        align: 'right', // ('left', 'right', or 'center')
        allow_dismiss: true, // If true then will display a cross to close the popup.
        stackup_spacing: 10 // spacing between consecutively stacked growls.
         });
  </script>
  <% end %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</html>
