<!DOCTYPE html>
<html>
  <head>
    <title>CRYPTO</title>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media:'all' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-decoration-none mb-5">
      <a class="navbar-brand" <%= link_to "CRYPTO", welcome_index_path %> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">         
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Moedas", coins_path %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Tipo_Mineração", mining_types_path %> </a>
          </li>
        </ul>
      </div>
        <ul class="nav justify-content-end">
            <li>
              <%= link_to '[HOME]', root_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Português', root_path(locale: 'pt-BR'), class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'English', root_path(locale: 'en'), class:"nav-link" %>
            </li>
          </ul>
    </nav>
    <%= yield %>
  </body>
</html>